<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>worka.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
				<key>dateExpires</key>
				<string>15/08/2023</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PurchasesHybridCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RevenueCat.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_paystack.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libphonenumber.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libphonenumber_plugin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>purchases_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC0783398DC6E37C53F70CEBF6493775B7A8DB8D</string>
						<key>dateExpires</key>
						<string>15/08/2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4M5F6CFH72</string>
						<key>name</key>
						<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4M5F6CFH72.com.wnetwork.worka</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4M5F6CFH72</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3eb0800c-6a55-411c-a8d2-c767980af279</string>
				<key>dateExpires</key>
				<string>15/08/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.wnetwork.worka</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4M5F6CFH72</string>
				<key>name</key>
				<string>WORKA NETWORKS INTERNATIONAL LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
